.media {
    display: table;
    width: 100%;
    direction:rtl;
    margin-bottom:20px;
}

    .media__image,
    .media__body {
        display: table-cell;
        vertical-align: top;        
                    
            &--link{
                color: $gold;
                font-family: $kufi;
                text-align:right;
                font-size: 18px;
                position:relative;    
                @include breakpoint(desktop-mobile) {
                font-size: 16px;
                }
            }
                &--link:before{
                    background: none repeat scroll 0 0 #9e914c;
                    content: "";
                    height: 3px;
                    right: 0;
                    position: absolute;
                    top: 0px;
                    width: 65px;
            }
            
            &--text{
                color: $black;
                font-family: $kufi;
                text-align:right;
                font-size: 24px;
                
                @include breakpoint(desktop-mobile) {
                font-size: 20px;
                }    
            }
            
            &-event{
                    &--time, &--title {
                        display:block;
                        color: $gray;
                        font-size: 18px;
                        margin-bottom: 5px;
                        @include breakpoint(desktop-mobile) {
                        font-size: 16px;
                            
                }
                    }
                   
        }
        &--teaser{
           display: table-row;
           padding-right: 20px;
            width:100%; 
            > img {
            display: block;
            @include breakpoint(desktop-mobile) {
                        width:100%;
                }
            }
        
        }
    }
    .media__body{
        padding-right:30px;
                @include breakpoint(desktop-mobile) {
                        padding-right:20px;
                }
    }
    .media__image {
        width:39.3%;
                > img {
                        display: block;
                        width:100%;               
        }
    }
