@import url(http://fonts.googleapis.com/earlyaccess/notonaskharabic.css);
@import url(http://fonts.googleapis.com/earlyaccess/droidarabickufi.css);
@import url(http://fonts.googleapis.com/earlyaccess/notokufiarabic.css);


$noto : 'Droid Arabic Kufi', sans-serif;
$serif : 'Noto Serif', serif;
$kufi : 'Noto Kufi Arabic', serif;
$naskh: 'Noto Naskh Arabic', serif;