/* line 1, ../sass/grid.scss */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 9, ../sass/grid.scss */
.grid {
  width: 100%;
  max-width: 1140px;
  min-width: 755px;
  margin: 0 auto;
  overflow: hidden;
}

/* line 17, ../sass/grid.scss */
.grid:after {
  content: "";
  display: table;
  clear: both;
}

/* line 22, ../sass/grid.scss */
.col-2-3 {
  width: 550px;
  float: right;
}
