@import url(http://fonts.googleapis.com/css?family=Roboto:400,400italic,500,100,900,100italic,300,300italic,500italic,700,700italic,900italic);
@import url(http://fonts.googleapis.com/earlyaccess/droidarabickufi.css);
@media (max-width: 767px) {
  /* line 16, ../sass/style.scss */
  .grid {
    width: 100%;
    min-width: 0;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 20px;
    padding-right: 10px;
  }

  /* line 25, ../sass/style.scss */
  [class*='col-'] {
    width: auto;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 0px;
    padding-right: 10px;
  }
}
/* line 35, ../sass/style.scss */
.media {
  display: table;
  width: 100%;
  direction: rtl;
  margin-bottom: 20px;
}

/* line 42, ../sass/style.scss */
.media__image,
.media__body {
  display: table-cell;
  vertical-align: top;
}
/* line 48, ../sass/style.scss */
.media__image--link,
.media__body--link {
  color: #9e914c;
  font-family: "Droid Arabic Kufi", serif;
  text-align: right;
  font-size: 18px;
}
@media (max-width: 767px) {
  /* line 48, ../sass/style.scss */
  .media__image--link,
  .media__body--link {
    font-size: 75%;
  }
}
/* line 57, ../sass/style.scss */
.media__image--text,
.media__body--text {
  color: #333;
  font-family: "Droid Arabic Kufi", serif;
  text-align: right;
  font-size: 24px;
}
@media (max-width: 767px) {
  /* line 57, ../sass/style.scss */
  .media__image--text,
  .media__body--text {
    font-size: 70%;
  }
}
/* line 69, ../sass/style.scss */
.media__image-event > span, .media__image-event time,
.media__body-event > span,
.media__body-event time {
  display: block;
  color: #6a6a6a;
  font-size: 18px;
}
@media (max-width: 767px) {
  /* line 69, ../sass/style.scss */
  .media__image-event > span, .media__image-event time,
  .media__body-event > span,
  .media__body-event time {
    font-size: 75%;
  }
}
/* line 80, ../sass/style.scss */
.media__image--teaser,
.media__body--teaser {
  display: table-row;
  padding-right: 20px;
  width: 100%;
}
/* line 84, ../sass/style.scss */
.media__image--teaser > img,
.media__body--teaser > img {
  display: block;
}
@media (max-width: 767px) {
  /* line 84, ../sass/style.scss */
  .media__image--teaser > img,
  .media__body--teaser > img {
    width: 100%;
  }
}

/* line 92, ../sass/style.scss */
.media__body {
  padding-right: 30px;
}
@media (max-width: 767px) {
  /* line 92, ../sass/style.scss */
  .media__body {
    padding-right: 20px;
  }
}

/* line 98, ../sass/style.scss */
.media__image {
  width: 39.3%;
}
/* line 100, ../sass/style.scss */
.media__image > img {
  display: block;
  width: 100%;
}
