@import url(http://fonts.googleapis.com/earlyaccess/notonaskharabic.css);
@import url(http://fonts.googleapis.com/earlyaccess/droidarabickufi.css);
@import url(http://fonts.googleapis.com/earlyaccess/notokufiarabic.css);
/* line 2, ../sass/styles/_grid.scss */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 7, ../sass/styles/_grid.scss */
.grid {
  width: 100%;
  max-width: 1140px;
  min-width: 755px;
  margin: 0 auto;
  overflow: hidden;
}

/* line 16, ../sass/styles/_grid.scss */
.grid:after {
  content: "";
  display: table;
  clear: both;
}

/* line 21, ../sass/styles/_grid.scss */
.right {
  width: 550px;
  float: right;
}

@media (max-width: 767px) {
  /* line 26, ../sass/styles/_grid.scss */
  .grid {
    width: 100%;
    min-width: 0;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 20px;
    padding-right: 10px;
  }

  /* line 35, ../sass/styles/_grid.scss */
  .right {
    width: auto;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 0px;
    padding-right: 10px;
  }
}
/* line 2, ../sass/styles/_media.scss */
.media {
  display: table;
  width: 100%;
  direction: rtl;
  margin-bottom: 20px;
}

/* line 9, ../sass/styles/_media.scss */
.media__image,
.media__body {
  display: table-cell;
  vertical-align: top;
  /*------------------------------------*\
      #COMMON
  \*------------------------------------*/
  /*------------------------------------*\
      #MEDIA WITH BIG IMAGE
  \*------------------------------------*/
}
/* line 17, ../sass/styles/_media.scss */
.media__image--link,
.media__body--link {
  display: block;
  color: #9e914c;
  font-family: "Noto Naskh Arabic", serif;
  text-align: right;
  font-size: 16px;
  position: relative;
  text-decoration: none;
  padding-top: 7px;
  font-weight: bold;
  margin-bottom: 6px;
}
/* line 28, ../sass/styles/_media.scss */
.media__image--link::before,
.media__body--link::before {
  background: none repeat scroll 0 0 #9e914c;
  content: "";
  height: 3px;
  right: 0;
  position: absolute;
  top: 0;
  width: 65px;
}
@media (max-width: 767px) {
  /* line 17, ../sass/styles/_media.scss */
  .media__image--link,
  .media__body--link {
    font-size: 16px;
  }
}
/* line 45, ../sass/styles/_media.scss */
.media__image--link:hover,
.media__body--link:hover {
  -webkit-transition: all 0.45s ease-in-out;
  -moz-transition: all 0.45s ease-in-out;
  -ms-transition: all 0.45s ease-in-out;
  -o-transition: all 0.45s ease-in-out;
  color: #6F6635;
}
/* line 52, ../sass/styles/_media.scss */
.media__image--link-text,
.media__body--link-text {
  display: block;
  color: #444;
  font-family: "Noto Kufi Arabic", serif;
  text-align: right;
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  cursor: pointer;
}
@media (max-width: 767px) {
  /* line 52, ../sass/styles/_media.scss */
  .media__image--link-text,
  .media__body--link-text {
    font-size: 16px;
  }
}
/* line 65, ../sass/styles/_media.scss */
.media__image--link-text-teaser,
.media__body--link-text-teaser {
  margin-right: 65px;
  display: block;
  color: #444;
  font-family: "Noto Kufi Arabic", serif;
  text-align: right;
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
}
@media (max-width: 767px) {
  /* line 65, ../sass/styles/_media.scss */
  .media__image--link-text-teaser,
  .media__body--link-text-teaser {
    font-size: 16px;
  }
}
/* line 79, ../sass/styles/_media.scss */
.media__image--link-text:hover,
.media__body--link-text:hover {
  -webkit-transition: all 0.45s ease-in-out;
  -moz-transition: all 0.45s ease-in-out;
  -ms-transition: all 0.45s ease-in-out;
  -o-transition: all 0.45s ease-in-out;
  color: #6a6a6a;
}
/* line 84, ../sass/styles/_media.scss */
.media__image--text,
.media__body--text {
  color: #6a6a6a;
  text-align: right;
  font-size: 18px;
  display: block;
  line-height: 24px;
  font-family: "Noto Naskh Arabic", serif;
}
@media (max-width: 767px) {
  /* line 84, ../sass/styles/_media.scss */
  .media__image--text,
  .media__body--text {
    font-size: 14px;
  }
}
/* line 94, ../sass/styles/_media.scss */
.media__image--text-teaser,
.media__body--text-teaser {
  margin-right: 65px;
  color: #6a6a6a;
  text-align: right;
  font-size: 22px;
  display: block;
}
@media (max-width: 767px) {
  /* line 94, ../sass/styles/_media.scss */
  .media__image--text-teaser,
  .media__body--text-teaser {
    font-size: 16px;
  }
}
/* line 104, ../sass/styles/_media.scss */
.media__image--text-article,
.media__body--text-article {
  margin-right: 65px;
  color: #6a6a6a;
  text-align: right;
  font-size: 16px;
  display: block;
  font-weight: normal;
}
@media (max-width: 767px) {
  /* line 104, ../sass/styles/_media.scss */
  .media__image--text-article,
  .media__body--text-article {
    font-size: 12px;
  }
}
/* line 123, ../sass/styles/_media.scss */
.media__image--teaser,
.media__body--teaser {
  font-weight: bold;
}
/* line 125, ../sass/styles/_media.scss */
.media__image--teaser > img,
.media__body--teaser > img {
  display: block;
}
@media (max-width: 767px) {
  /* line 125, ../sass/styles/_media.scss */
  .media__image--teaser > img,
  .media__body--teaser > img {
    width: 100%;
  }
}
/* line 132, ../sass/styles/_media.scss */
.media__image--teaser-link,
.media__body--teaser-link {
  color: #9e914c;
  font-family: "Noto Naskh Arabic", serif;
  text-align: right;
  font-size: 16px;
  position: relative;
  text-decoration: none;
  padding-top: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  display: inline-block;
  margin-right: 6px;
  vertical-align: middle;
}
@media (max-width: 767px) {
  /* line 132, ../sass/styles/_media.scss */
  .media__image--teaser-link,
  .media__body--teaser-link {
    font-size: 16px;
  }
}
/* line 150, ../sass/styles/_media.scss */
.media__image--teaser-text,
.media__body--teaser-text {
  color: #444;
  text-align: right;
  font-size: 30px;
  display: block;
  line-height: 36px;
  margin-right: 71px;
  font-family: "Noto Kufi Arabic", serif;
}
@media (max-width: 767px) {
  /* line 150, ../sass/styles/_media.scss */
  .media__image--teaser-text,
  .media__body--teaser-text {
    font-size: 16px;
  }
}
/* line 165, ../sass/styles/_media.scss */
.media__image--teaser .dash,
.media__body--teaser .dash {
  background: none repeat scroll 0 0 #9e914c;
  content: "";
  height: 3px;
  display: inline-block;
  width: 65px;
}

/*------------------------------------*\
    #MEDIA BODY DISTANCE (PADDINGS)
\*------------------------------------*/
/* line 182, ../sass/styles/_media.scss */
.media__body {
  padding-right: 3.33%;
}
/* line 184, ../sass/styles/_media.scss */
.media__body--teaser {
  display: block;
}
@media (max-width: 767px) {
  /* line 182, ../sass/styles/_media.scss */
  .media__body {
    padding-right: 20px;
  }
}

/*------------------------------------*\
    #MEDIA IMAGE SIZE
\*------------------------------------*/
/* line 197, ../sass/styles/_media.scss */
.media__image {
  width: 39.3%;
}
/* line 199, ../sass/styles/_media.scss */
.media__image > img {
  display: block;
  width: 100%;
}

/*------------------------------------*\
    #METADATA 
\*------------------------------------*/
/* line 208, ../sass/styles/_media.scss */
.metadata {
  position: relative;
}
/* line 210, ../sass/styles/_media.scss */
.metadata--time {
  display: inline-block;
  color: #6a6a6a;
  font-size: 14px;
  margin-bottom: 6px;
  font-family: "Noto Serif", serif;
  vertical-align: top;
}
/* line 218, ../sass/styles/_media.scss */
.metadata--location {
  display: inline-block;
  color: #6a6a6a;
  font-size: 14px;
  font-family: "Noto Serif", serif;
  vertical-align: top;
  /*------------------------------------*\
          #MEDIA ICONS INLINE (DETAILED) 
   \*------------------------------------*/
}
/* line 225, ../sass/styles/_media.scss */
.metadata--location::after {
  content: " | ";
  padding-left: 6px;
  padding-right: 6px;
  vertical-align: top;
  color: #bebebe;
}
@media (max-width: 767px) {
  /* line 225, ../sass/styles/_media.scss */
  .metadata--location::after {
    content: "";
  }
}
@media (max-width: 767px) {
  /* line 218, ../sass/styles/_media.scss */
  .metadata--location {
    font-size: 16px;
  }
}
/* line 244, ../sass/styles/_media.scss */
.metadata--link-article, .metadata--user-article, .metadata--time-article {
  display: inline-block;
  color: #6a6a6a;
  font-size: 14px;
  margin-bottom: 5px;
}
/* line 254, ../sass/styles/_media.scss */
.metadata--icon {
  padding-left: 10px;
}
/* line 257, ../sass/styles/_media.scss */
.metadata--icon-article {
  vertical-align: middle;
  padding-left: 10px;
}

/* line 267, ../sass/styles/_media.scss */
.metadata-article {
  display: block;
  margin-bottom: 6px;
}
/* line 271, ../sass/styles/_media.scss */
.metadata-article--dash {
  background: none repeat scroll 0 0 #9e914c;
  content: "";
  height: 3px;
  display: block;
  width: 65px;
  margin-bottom: 18px;
}
/* line 280, ../sass/styles/_media.scss */
.metadata-article--user-article::after {
  content: " | ";
  color: #6a6a6a;
}
@media (max-width: 767px) {
  /* line 280, ../sass/styles/_media.scss */
  .metadata-article--user-article::after {
    content: "";
  }
}
/* line 287, ../sass/styles/_media.scss */
.metadata-article--link-article::after {
  content: " | ";
  color: #6a6a6a;
}
@media (max-width: 767px) {
  /* line 287, ../sass/styles/_media.scss */
  .metadata-article--link-article::after {
    content: "";
  }
}
/* line 294, ../sass/styles/_media.scss */
.metadata-article--time-article {
  display: inline-block;
  color: #6a6a6a;
  font-size: 14px;
  margin-bottom: 6px;
  font-family: "Noto Serif", serif;
}
/* line 301, ../sass/styles/_media.scss */
.metadata-article--link-article, .metadata-article--user-article {
  margin-bottom: 20px;
  color: #9e914c;
  font-family: "Noto Serif", serif;
  text-align: right;
  font-size: 14px;
  text-decoration: none;
}
@media (max-width: 767px) {
  /* line 301, ../sass/styles/_media.scss */
  .metadata-article--link-article, .metadata-article--user-article {
    font-size: 14px;
  }
}
/* line 313, ../sass/styles/_media.scss */
.metadata-article--icon {
  padding-left: 10px;
}
/* line 316, ../sass/styles/_media.scss */
.metadata-article--icon-article {
  vertical-align: top;
  padding-left: 10px;
}

/* line 325, ../sass/styles/_media.scss */
.metadata-teaser-article {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 6px;
  /*------------------------------------*\
          #MEDIA ICONS INLINE (DETAILED) 
   \*------------------------------------*/
}
@media (max-width: 767px) {
  /* line 325, ../sass/styles/_media.scss */
  .metadata-teaser-article {
    padding-right: 65px;
  }
}
/* line 333, ../sass/styles/_media.scss */
.metadata-teaser-article--time {
  display: inline-block;
  color: #6a6a6a;
  font-size: 14px;
  margin-bottom: 6px;
  font-family: "Noto Serif", serif;
  vertical-align: top;
}
/* line 345, ../sass/styles/_media.scss */
.metadata-teaser-article--link-article, .metadata-teaser-article--user-article {
  display: inline-block;
  color: #9e914c;
  font-size: 16px;
  margin-bottom: 5px;
  font-family: "Noto Naskh Arabic", serif;
}
/* line 351, ../sass/styles/_media.scss */
.metadata-teaser-article--link-article::after, .metadata-teaser-article--user-article::after {
  content: " | ";
  padding-left: 6px;
  padding-right: 6px;
  color: #bebebe;
}
@media (max-width: 767px) {
  /* line 351, ../sass/styles/_media.scss */
  .metadata-teaser-article--link-article::after, .metadata-teaser-article--user-article::after {
    content: "";
  }
}
@media (max-width: 767px) {
  /* line 345, ../sass/styles/_media.scss */
  .metadata-teaser-article--link-article, .metadata-teaser-article--user-article {
    font-size: 16px;
  }
}
/* line 364, ../sass/styles/_media.scss */
.metadata-teaser-article--time-article {
  color: #6a6a6a;
  font-family: "Noto Serif", serif;
  font-size: 16px;
  font-weight: normal;
}
/* line 370, ../sass/styles/_media.scss */
.metadata-teaser-article--icon {
  padding-left: 10px;
}
/* line 373, ../sass/styles/_media.scss */
.metadata-teaser-article--icon-article {
  vertical-align: middle;
  padding-left: 10px;
}
